.contact {
    padding: 5%;
    background-color: #24143e;
    text-align: center;
    transition: background-color 0.3s ease;
    color: white !important;
    opacity: 0.9 !important;
    transition: all 0.5s ease 0s !important;
    height: 100% !important;
    margin-bottom: 2%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input,
textarea {
    width: 100%;
    padding: 1%;
    margin-bottom: 2.5%;
    border: 0.2vh solid #ccc;
    border-radius: 1vh;
    transition: border-color 0.3s ease;
}

input:focus,
textarea:focus {
    outline: none;
    border-color: #333;
}

button {
    padding: 1.2% 2.8%;
    background-color: #8f75b1;
    border: none;
    border-radius: 1vh;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: white;
}

button:hover {
    background-color: #222;
}

/* Add animation to form elements */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(2vh);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

input,
textarea,
button {
    animation: fadeInUp 0.6s ease forwards;
}

/* Add responsive styles for smaller screens */
@media (max-width: 768px) {
    .contact {
        padding: 10%;
    }

    input,
    textarea {
        margin-bottom: 7%;
    }

    button {
        padding: 4% 6%;
    }
}