.about {
    padding: 5%;
    background-color: #24143e;
}

.social-links {
    margin-top: 3vh;
}

.social-links a {
    display: inline-block;
    margin: 0 1vw;
    height: 6vh;
    width: 6vh;
    text-align: center;
    font-size: 2em;
    color: #fff;
    background-color: #333;
    border-radius: 15%;
    transition: background-color 0.3s ease;
}

.social-links a:hover {
    background-color: #000000;
}


@media (max-width: 767px) {
    .about {
        padding: 3%;
        padding-top: 12%;
    }

    .social-links a {
        font-size: 1.5em;
        height: 3.5vh;
        width: 3.5vh;
    }
}