<div id="about" class="about-container">
  <!-- ... -->
  <div class="about">
    <div class="profile-image">
    </div>
    <p>Let me introduce myself.</p>
    <p>💼 Worked in L&T Technology Services for 5+ years</p>
    <p>👩🏻‍💻 Skilled in JavaScript, HTML5, CSS3, ReactJS</p>
    <p>📺 Experience in developing OTT-Media apps</p>
    <p>⏯️ Worked with Shaka, HLS javascript player libraries</p>
    <p>🌱 I’m currently learning NodeJS & TypeScript</p>
    <p>⚡ Fun fact:I also love Playing Guitar,Crafting & Painting.😄 Do checkout my <a
        href='https://colorfulartspace.wordpress.com'>blog</a>.</p>
    <p>🙋🏻‍♀️ Looking for new opportunities in 📍Munich, Germany due to relocation</p>

    <div class="social-links">
      <a href={githubUrl} target="_blank" rel="noopener noreferrer">
        <fa-icon [icon]="faGitHub"></fa-icon>
      </a>
      <a href={linkedinUrl} target="_blank" rel="noopener noreferrer">
        <fa-icon [icon]="faLinkedIn"></fa-icon>
      </a>
    </div>
  </div>
</div>