.intro {
    width: 100%;
    min-height: 85vh;
    padding: 10vh 0;
    font-size: 1.6rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-image: linear-gradient(to bottom left, rgba(17, 16, 16, 0.678), rgba(12, 10, 22, 0.863)), url(../../../assets/home-bg.jpg);
}

.text-container {
    margin-left: 2%;
    padding-top: 6%;
}

.keywords {
    display: -webkit-inline-box;
}

.keyword {
    margin: 1vh;
}

.banner-image {
    padding-top: 5%;
    align-self: center;
}

.coder-image {
    max-height: 50vh;
}

.keyword {
    margin: 0.5vh;
}

.introduction,
.keywords {
    margin: 4%;
}

.wave {
    animation-name: wave-animation;
    /* Refers to the name of your @keyframes element below */
    animation-duration: 2.1s;
    /* Change to speed up or slow down */
    animation-iteration-count: infinite;
    /* Never stop waving :) */
    transform-origin: 70% 70%;
    /* Pivot around the bottom-left palm */
    display: inline-block;
}

@keyframes wave-animation {
    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(14deg);
    }

    /* The following five values can be played with to make the waving more or less extreme */
    20% {
        transform: rotate(-8deg);
    }

    30% {
        transform: rotate(14deg);
    }

    40% {
        transform: rotate(-4deg);
    }

    50% {
        transform: rotate(10deg);
    }

    60% {
        transform: rotate(0deg);
    }

    /* Reset for the last half to pause */
    100% {
        transform: rotate(0deg);
    }
}

@media (max-width: 768px) {
    .intro {
        display: flex;
        flex-direction: column-reverse;
        padding: 0;
        justify-content: space-around;
        /* font-size: 1rem; */
    }

    .coder-image {
        max-height: 30vh !important;
    }

    .keywords {
        display: inline-flex;
        flex-wrap: wrap;
    }

    .banner-image {
        padding-top: 30%;
    }
}