<div id='intro' class="intro">
    <div class="text-container">
        <p class="introduction">Hi there, I am Harshada Chaudhari
            <span class="wave" role="img" aria-labelledby="wave">
                👋🏻
            </span>
        </p>

        <app-typewriter></app-typewriter>

        <div class="keywords">
            #JavaScript #HTML #CSS #Angular #ReactJS #ES6
        </div>
    </div>

    <div class="banner-image">
        <img class="coder-image" src="assets/coder.png" alt="coder">
    </div>
</div>