<div id='intro' class="intro">
    <div class="text-container">
        <p class="introduction">Hi there, I am {{ name }}
            <span class="wave" role="img" aria-labelledby="wave">
                👋🏻
            </span>
        </p>

        <app-typewriter></app-typewriter>
        <div class="keywords">
            <div *ngFor="let keyword of keywords" class="keyword">
                #{{ keyword }}
            </div>
        </div>

    </div>

    <div class="banner-image">
        <img class="coder-image" src="assets/coder.png" alt="coder">
    </div>
</div>