.projects {
    padding: 5%;
}

.project {
    margin-bottom: 20px;
    animation: fadeInScale 1s ease-in-out;
}

.project-title {
    font-size: 18px;
    font-weight: bold;
}

.project-description {
    font-size: 16px;
}

@keyframes fadeInScale {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@media (max-width: 768px) {
    .projects {
        padding: 3%;
        padding-top: 12%;
    }

    .project {
        margin-bottom: 10px;
    }

    .project-title {
        font-size: 16px;
    }

    .project-description {
        font-size: 14px;
    }
}