.work {
    padding: 5%;
    background-color: #24143e;
}

.company {
    margin-bottom: 15px;
    color: #92b6d3 !important;
    font-weight: bolder;
}

@media (max-width: 768px) {
    .work {
        padding: 3%;
        padding-top: 12%;
    }
}