.typewriter {
    min-height: 36vh;
    width: 60vw;
}

.typewriter-text {
    font-size: 1.5em !important;
    color: #be6adf !important;
    font-weight: 600 !important;
}

@media (max-width: 767px) {
    .typewriter {
        min-height: 25vh;
        width: 60vw;
    }

    .typewriter-text {
        font-size: 0.7em !important;
        color: #be6adf !important;
        font-weight: 600 !important;
    }
}