.typewriter {
    min-height: 36vh;
    width: 60vw;
    margin: 4%;
}

.typewriter-text {
    font-size: 4rem !important;
    color: #be6adf !important;
    font-weight: 600 !important;
}

@media (max-width: 767px) {
    .typewriter {
        min-height: 10vh;
        width: 60vw;
        margin: 4%;
    }

    .typewriter-text {
        font-size: 2rem !important;
        color: #be6adf !important;
        font-weight: 600 !important;
    }
}